<div class="container">
    <div class="row row-cols-3 mt-5">
        <div class="col bg-info text-center text-white p-2">
            <h4>Total Balance</h4>
        </div>
        <div class="col bg-danger text-center text-white p-2">
            <h4>You owe</h4>
        </div>
        <div class="col bg-success text-center text-white p-2">
            <h4>You are owed</h4>
        </div>
        <div class="col bg-info text-center text-white p-2">{{dashboardTotalNet}}</div>
        <div class="col bg-danger text-center text-white p-2">{{dashboardTotal.oweAmount}}</div>
        <div class="col bg-success text-center text-white p-2">{{dashboardTotal.owedAmount}}</div>
    </div>
    <div class="row row-cols-2" style="height: 700px; background-color:gainsboro;">
        <div class="col-6">

            <h3 class="mb-5 text-center">Welcome to the Owe section</h3>

            <table class="table table-bordered table-hover shadow p-3 mb-5 bg-white rounded" *ngFor='let d of dashboardDetailsListOwe; let i = index'>
                <thead class="thead-dark">
                    <tr>
                        <!-- <th scope="col">Serial No.</th> -->
                        <th scope="col"> {{d.friendName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let e of d.listExpenses; let j = index'>
                        <!-- <th scope="row">@i</th> -->
                        <td>{{e.payerFriendName}} owes {{e.debtFriendName}} Amount {{e.amount}} for {{e.groupName}}.</td>

                    </tr>

                </tbody>
            </table>

        </div>
        <div class="col-6">

            <h3 class="mb-5 text-center">Welcome to the Owed section</h3>

            <table class="table table-bordered table-hover shadow p-3 mb-5 bg-white rounded" *ngFor='let d of dashboardDetailsListOwed; let i = index'>
                <thead class="thead-dark">
                    <tr>
                        <!-- <th scope="col">Serial No.</th> -->
                        <th scope="col"> {{d.friendName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let e of d.listExpenses; let j = index'>
                        <!-- <th scope="row">@i</th> -->
                        <td>{{e.payerFriendName}} owes {{e.debtFriendName}} Amount {{e.amount}} for {{e.groupName}}.</td>

                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>