<div class="container">
    <div class="row row-cols-3 mt-5">
        <div class="col bg-info text-center text-white p-2">
            <h4>Total Balance</h4>
        </div>
        <div class="col bg-danger text-center text-white p-2">
            <h4>You owe</h4>
        </div>
        <div class="col bg-success text-center text-white p-2">
            <h4>You are owed</h4>
        </div>
        <div class="col bg-info text-center text-white p-2">4</div>
        <div class="col bg-danger text-center text-white p-2">5</div>
        <div class="col bg-success text-center text-white p-2">6</div>
    </div>
    <div class="row row-cols-2 text-center" style="height: 700px; background-color:gainsboro;">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    3
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    3
                </div>
            </div>
        </div>
    </div>
</div>