<div class="text-center">
    <h1>New Group</h1>
</div>
<hr />

<div class="container mt-5">
    <div class="row  m-0 p-0 justify-content-center">
        <div class="col-md-10">
            <div class="form-horizontal" id="register">

                <div class="form-group mb-3 row">


                    <div class="col-3">
                        <label class="col-sm-2 col-form-label mr-3"><b>Group</b></label>
                        <label class="col-sm-2 col-form-label"><b>Name</b></label>
                    </div>


                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Group Name" id="GroupName" maxlength="20" required>

                    </div>

                </div>
                <div class="form-group mb-3 row">

                    <div class="col-3">
                        <label class="col-sm-2 col-form-label mr-3"><b>Group</b></label>

                        <label class="col-sm-2 col-form-label"><b>Type</b></label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Group Type" id="GroupType" maxlength="20" required>
                    </div>




                </div>

                <div class="form-group mb-3 row">
                    <div class="col-3">
                        <label for="Password" class="col-sm-2 col-form-label"><b>Password</b></label>
                    </div>
                    <div class="col-9">
                        <input type="password" class="form-control" placeholder="Password" id="Password" maxlength="20" required>
                    </div>



                </div>

                <div class="form-group mb-3 row">

                    <div class="col-3">
                        <label for="PhoneNumber" class="col-sm-2 col-form-label"><b>PhoneNumber</b></label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Phone Number" id="PhoneNumber" maxlength="20" required>
                    </div>



                </div>


                <div class="form-group mt-5">

                    <button type="submit" class="btn btn-secondary btn-block font-weight-bolder">Register</button>

                </div>
            </div>
        </div>
    </div>
</div>