<div class="container">
    <div class="row row-cols-1">
        <div class="col text-center mt-5 mb-5 border border-bottom bg-success p-3 rounded-pill text-white">
            <h2>
                <b>Welcome</b>...We will manage your expenses!!
            </h2>
        </div>
        <div class="col text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi eu mi dictum, eu sollicitudin ligula ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ullamcorper elit sit amet varius
            tristique. Aliquam erat volutpat. Aenean venenatis sapien ac nibh auctor malesuada. Fusce ac consequat nisi, ut eleifend nisi. Etiam ac nisi nibh. Quisque mollis ex eu metus lobortis vestibulum. Vestibulum facilisis lacus eget felis pellentesque
            aliquam. Phasellus neque arcu, fermentum nec tellus ut, laoreet venenatis felis. Morbi sit amet diam quis augue varius facilisis. Fusce lobortis diam semper velit maximus, nec lobortis odio scelerisque. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Aliquam suscipit consequat ex a bibendum. Quisque dignissim, tortor eget porttitor semper, erat nunc pretium neque, vel vehicula dui risus non diam. Etiam eu dolor mi. Nunc ipsum mauris, rutrum ac tincidunt in, condimentum
            ut turpis. Vivamus porttitor elit nibh, eget tempus metus iaculis sed. Integer consequat nisl odio, eget aliquam sapien sollicitudin sit amet. Etiam at metus in velit molestie gravida nec id purus. Phasellus risus dolor, ullamcorper vitae
            feugiat id, cursus id justo. Donec rhoncus pharetra vulputate. Fusce eget placerat elit, ut maximus risus. Maecenas scelerisque tincidunt nibh quis dapibus. Fusce viverra feugiat pulvinar. Suspendisse pretium, dui eget malesuada tincidunt,
            eros nisi efficitur eros, et porttitor tortor ligula et magna. Donec porta hendrerit sapien. Aliquam dignissim id sapien et accumsan. Integer et sagittis massa, a fermentum libero. Praesent faucibus leo massa, a tincidunt nulla scelerisque
            eu. Sed tincidunt posuere ornare. Quisque in metus enim. Praesent sit amet arcu mattis, consectetur velit vitae, ultrices dolor. Curabitur eleifend scelerisque est non placerat. Suspendisse malesuada risus diam, ut convallis nunc vehicula
            in. Sed eget erat ornare, cursus erat vitae, facilisis libero. Donec dolor ipsum, mattis a commodo vitae, eleifend ut dui. Proin condimentum egestas cursus.
        </div>
    </div>
</div>